In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import pyodbc #pyodbc is library used to connect to MSSQL

In [2]:
from datetime import datetime,date
DW_EFF_DT=date.today()

In [3]:
data_url='https://www.mohfw.gov.in/'
html_text=requests.get(data_url).text
soup=BeautifulSoup(html_text,'html5lib')
table_content=soup.find_all('table', class_='table table-striped')

In [4]:
state_df=pd.read_html(str(table_content[:]))
state_df[0]['DW_EFF_DT']=DW_EFF_DT

In [5]:
state_df[0]

,S. No.,Name of State / UT,Total Confirmed cases*,Cured/Discharged/Migrated,Deaths**,DW_EFF_DT
0,1,Andaman and Nicobar Islands,33,33,0,2020-05-26
1,2,Andhra Pradesh,3110,1896,56,2020-05-26
2,3,Arunachal Pradesh,2,1,0,2020-05-26
3,4,Assam,526,62,4,2020-05-26
4,5,Bihar,2730,749,13,2020-05-26
5,6,Chandigarh,238,186,3,2020-05-26
6,7,Chhattisgarh,291,72,0,2020-05-26
7,8,Dadar Nagar Haveli,2,0,0,2020-05-26
8,9,Delhi,14053,6771,276,2020-05-26
9,10,Goa,67,19,0,2020-05-26
10,11,Gujarat,14460,6636,888,2020-05-26
11,12,Haryana,1184,765,16,2020-05-26
12,13,Himachal Pradesh,223,67,5,2020-05-26
13,14,Jammu and Kashmir,1668,809,23,2020-05-26
14,15,Jharkhand,377,148,4,2020-05-26
15,16,Karnataka,2182,705,44,2020-05-26
16,17,Kerala,896,532,5,2020-05-26
17,18,Ladakh,52,43,0,2020-05-26
18,19,Madhya Pradesh,6859,3571,300,2020-05-26
19,20,Maharashtra,52667,15786,1695,2020-05-26
20,21,Manipur,39,4,0,2020-05-26
21,22,Meghalaya,14,12,1,2020-05-26
22,23,Mizoram,1,1,0,2020-05-26
23,24,Nagaland,3,0,0,2020-05-26
24,25,Odisha,1438,649,7,2020-05-26
25,26,Puducherry,41,12,0,2020-05-26
26,27,Punjab,2060,1898,40,2020-05-26
27,28,Rajasthan,7300,3951,167,2020-05-26
28,29,Sikkim,1,0,0,2020-05-26
29,30,Tamil Nadu,17082,8731,118,2020-05-26
30,31,Telengana,1920,1164,56,2020-05-26
31,32,Tripura,194,165,0,2020-05-26
32,33,Uttarakhand,349,58,3,2020-05-26
33,34,Uttar Pradesh,6532,3581,165,2020-05-26
34,35,West Bengal,3816,1414,278,2020-05-26
35,NaN,Cases being reassigned to states,2970,NaN,NaN,2020-05-26
36,NaN,Total#,145380,60491,4167,2020-05-26
37,*(Including foreign Nationals),*(Including foreign Nationals),*(Including foreign Nationals),*(Including foreign Nationals),*(Including foreign Nationals),2020-05-26
38,**( more than 70% cases due to comorbidities ),**( more than 70% cases due to comorbidities ),**( more than 70% cases due to comorbidities ),**( more than 70% cases due to comorbidities ),**( more than 70% cases due to comorbidities ),2020-05-26
39,#States wise distribution is subject to furthe...,#States wise distribution is subject to furthe...,#States wise distribution is subject to furthe...,#States wise distribution is subject to furthe...,#States wise distribution is subject to furthe...,2020-05-26
40,#Our figures are being reconciled with ICMR,#Our figures are being reconciled with ICMR,#Our figures are being reconciled with ICMR,#Our figures are being reconciled with ICMR,#Our figures are being reconciled with ICMR,2020-05-26

In [6]:
state_dly_stats=state_df[0][['DW_EFF_DT','Name of State / UT','Total Confirmed cases*','Cured/Discharged/Migrated']]

In [7]:
#defining the reocrds to be fetchd or removal of extra records.

state_dly_stats[:-5]
state_wise_cnt=state_dly_stats[:-6]
state_wise_cnt

,DW_EFF_DT,Name of State / UT,Total Confirmed cases*,Cured/Discharged/Migrated
0,2020-05-26,Andaman and Nicobar Islands,33,33
1,2020-05-26,Andhra Pradesh,3110,1896
2,2020-05-26,Arunachal Pradesh,2,1
3,2020-05-26,Assam,526,62
4,2020-05-26,Bihar,2730,749
5,2020-05-26,Chandigarh,238,186
6,2020-05-26,Chhattisgarh,291,72
7,2020-05-26,Dadar Nagar Haveli,2,0
8,2020-05-26,Delhi,14053,6771
9,2020-05-26,Goa,67,19
10,2020-05-26,Gujarat,14460,6636
11,2020-05-26,Haryana,1184,765
12,2020-05-26,Himachal Pradesh,223,67
13,2020-05-26,Jammu and Kashmir,1668,809
14,2020-05-26,Jharkhand,377,148
15,2020-05-26,Karnataka,2182,705
16,2020-05-26,Kerala,896,532
17,2020-05-26,Ladakh,52,43
18,2020-05-26,Madhya Pradesh,6859,3571
19,2020-05-26,Maharashtra,52667,15786
20,2020-05-26,Manipur,39,4
21,2020-05-26,Meghalaya,14,12
22,2020-05-26,Mizoram,1,1
23,2020-05-26,Nagaland,3,0
24,2020-05-26,Odisha,1438,649
25,2020-05-26,Puducherry,41,12
26,2020-05-26,Punjab,2060,1898
27,2020-05-26,Rajasthan,7300,3951
28,2020-05-26,Sikkim,1,0
29,2020-05-26,Tamil Nadu,17082,8731
30,2020-05-26,Telengana,1920,1164
31,2020-05-26,Tripura,194,165
32,2020-05-26,Uttarakhand,349,58
33,2020-05-26,Uttar Pradesh,6532,3581
34,2020-05-26,West Bengal,3816,1414

In [9]:
cnxn = pyodbc.connect("Driver={SQL Server Native Client 11.0};"
                      "Server=IDEA-PC;"
                      "Database=IDW;"
                      "Trusted_Connection=yes;")

In [10]:
# code to insert data from dataframe to MSSQL.

for indx,row in state_wise_cnt.iterrows():
    with cnxn.cursor() as crsr:
        crsr.execute("INSERT INTO IDW.dbo.COVID_DLY_T(DW_EFF_DT,STATES,TOTL_CNFM_CS_IN,CURED_DISCHG) values(?,?,?,?)",row["DW_EFF_DT"],row["Name of State / UT"],row["Total Confirmed cases*"],row["Cured/Discharged/Migrated"])

In [11]:
covid_dly_t=pd.read_sql_query("select * from IDW.dbo.COVID_DLY_T",cnxn)
#this code is to generate final excel sheet which would be ingested to tableau
covid_dly_t.to_excel('COVID-Report.xlsx',index=False)
covid_dly_t

       DW_EFF_DT                       STATES  TOTL_CNFM_CS_IN  CURED_DISCHG
0     2020-03-28  Andaman and Nicobar Islands                2             0
1     2020-03-28               Andhra Pradesh               14             1
2     2020-03-28                        Bihar                9             0
3     2020-03-28                   Chandigarh                7             0
4     2020-03-28                 Chhattisgarh                6             0
...          ...                          ...              ...           ...
1845  2020-05-24                    Telengana             1813          1065
1846  2020-05-24                      Tripura              189           153
1847  2020-05-24                  Uttarakhand              244            56
1848  2020-05-24                Uttar Pradesh             6017          3406
1849  2020-05-24                  West Bengal             3459          1281

[1850 rows x 4 columns]

In [ ]:
crsr.commit()
crsr.close()
cnxn.close()